body {
    font-family: Tahoma, Verdana, Helvetica;
    background: blue;
    display: flex;
    flex-direction: column;
    flex:1;
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #005005;
    color: white;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    margin-left: 575px;
}

li {
    margin: 16px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #005005;
    color: white;
    padding-bottom: 32px;
}

img {
    height: 200px;
    width: auto;
    border-radius: 30px;
    
}

.title {
    font-size: 36px;
    font-weight: 900;
}

.text {
    display: flex;
    flex-direction: column;
    margin-right: 225px;
}

button {
    font-size: 16px;
    border-radius: 50px;
    color: white;
    background-color: #005005;
    padding: 10px;
    width: 150px;
    height: auto;
}

.middle {
    background-color: #2e7d32;
    padding: 16px;
}

.infotitle {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 900;
    color: white;
}

.featuredplants {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 16px;
}

.plants {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
}

.third {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #60ad5e;
    color: white;
    font-style: italic;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 24px;
    width: 500px;
    padding: 24px;
}

.author {
    text-indent: 150px;
}

.bottom {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.box {
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 48px;
    background-color: #c8e6c9;
    border-radius: 10px;
}

.bottombutton {
    background-color: #75a478;
    width: 150px;
    height: 45px;
    margin-left: 200px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005005;
}